# Ignore data files
data/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Ignore output files
output/

# Ignore model files
models/

# Ignore sh files
*.sh

# Ignore catboost output
catboost_info/*